h1 {
    font-family: 'GameOver';
}

h2 {
    font-family: 'GameOver';
}

.infotext {
    font-family: 'GameOver';
    padding-top: 3vh;
    font-size: 2vh;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: cener;
    align-items: cener;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'GameOver';
    transition: all .3s ease-in-out;
}

.info:hover {
    text-decoration: underline;
    transform: translate3d(0px, -2px, 0px);
    cursor: pointer;

}

.board {
    outline: 5px solid rgb(134, 154, 189);
    /* height: 52vh;
    width: 100vh;
    position: relative;
    text-align: center; */
}

.gameOver {
    position: fixed;
    height:70vh;
    width: 70vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    font-family: 'GameOver';
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
}


.start{
    position: relative;
    top: 0%;
    left: 50%;
    height: 45%;
    width: 100%;
    margin: -10% 0 0 -50%;
}

.rectangle {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    font-family: 'GameOver';
    width: 15vh;
    height: 5vh;
    background: #31353f;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
    border-radius: 0.5vh;
    transition: all .3s ease-in-out;
}

.back {
    margin-top: 8vh;
    margin-left: 33%;
}

.rectangle:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
}

.active{
    background: #20cf20;
}



.speeds{
    display: flex;
    padding-bottom: 5vh;
} 

.info-line {
    display:flex;
}

.enter {
    padding-bottom: 1vh;
}



.row {
    height: 35px;
}

.cell {
    width: 35px;
    height: 35px;
    outline: 1px solid rgb(134, 154, 189); 
    display: inline-block;
}

.cell-green {
    background-color: #f7af2a;
    border-radius: 0.8vh;
}

.cell-green-background {
    background-color: #282c34;
    border-radius: 0.8vh;
}

.cell-hit-red{
    background-color: #ff0000;
    border-radius: 0.8vh;
}

.cell-red {
    background-color: red;
    border-radius: 10vh;
}

.cell-purple {
    background-color: purple;
    border-radius: 10vh;
}

